<p>{{ _('Dear %(user_name)s,', user_name=user.name) }}</p>
<p><a href="{{ url_for('users.home', name=follower.name, _external=True) }}"></a>{{ _('%(follower_name)s is now your follower.', follower_name=follower.name) }}</p>
<table>
  <tr valign="top">
    <td><img src="{{ follower.avatar(50) }}"></td>
    <td>
      <a href="{{ url_for('users.home', name=follower.name, _external=True) }}">{{ follower.name }}</a><br />
      {{ follower.about_me}}
    </td>
  </tr>
</table>
<p>{{ _('Regards') }},</p>
<p>{{ _('The %(microblog_code)s admin', microblog_code='<code>microblog</code>') }}</p>
